

    <h2>Create a new person</h2> 
<form id="form1" action="/celebrities/new-celebrity" method="post" >

    <label for="name">Name of person</label>
    <input type="text" id="name" name="name" placeholder="Person name..">

    <label for="occupation">occupation</label>
    <input type="text" id="occupation" name="occupation" placeholder="occupation..">

    <label for="catchPhrase">Catch phrase/label>
    <input type="text" id="catchPhrase" name="catchPhrase" placeholder="Catch Phrase...">

     <button type="submit" form="form1" value="Submit">Submit</button>

  </form>