  <h2>Create a new Movie</h2> 
<form id="form1" action="/movies/create" method="post" >

    <label for="title">Name of Movie</label>
    <input type="text" id="title" name="title" placeholder="title..">

    <label for="genre">genre</label>
    <input type="text" id="genre" name="genre" placeholder="genre..">

    <label for="plot">plot/label>
    <input type="text" id="plot" name="plot" placeholder="plot...">

<label for="cars">Choose a person:</label>

<select name="cast" id="cast" multiple>

  
  {{#each response}}

  <option value={{this._id}}>{{this.title}}</option>
 


  {{/each}}
  
  



</select>




     <button type="submit" form="form1" value="Submit">Submit</button>

  </form>